<!-- organization_list.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Organization List</title>
</head>

<body>
    <h1>Organization List</h1>
    <table border="1">
        <thead>
          <tr>
            <th>Organization Name</th>
            <th>Owner Name</th>
          </tr>
        </thead>
        <tbody>
          {% for organization in organizations %}
            <tr>
              <td>{{ organization.name }}</td>
              <td>{{ organization.owner.username }}</td>
              <td><a href="{% url 'delete_organization' organization.id %}">Delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_organization' %}">Create New Organization</a>
    <br>
    <a href="{% url 'main_page' %}">Main Page</a>
</body>

</html>