<!-- user_permission_for_event_list.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Permissions for Event List</title>
</head>

<body>
    <h1>User Permissions for Event List</h1>
    <ul>
        {% for permission in permissions %}
        <li>
            User: {{ permission.user.username }} - Event: {{ permission.event.title }} - Permission: {{
            permission.get_permission_display }}
            [<a href="{% url 'delete_user_permission_for_event' permission.id %}">Delete</a>]
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_user_permission_for_event' %}">Create New User Permission for Event</a>
</body>

</html>